.container.testimonial-container {
    width: 40%;
    padding-bottom: 2rem;
}
.client-name{
    color: var(--white);
}
.client-avatar img {
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.2rem solid var(--orange);
}

.client-designation {
    color: var(--white);
    font-size: 1rem;
}

.testimonial {
    background: linear-gradient(var(--primary-color),var(--orange));
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;  
}


.client-review {
    color: var(--off-white);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

  


@media screen and (max-width: 1024px){
   .container.testimonial-container{
       width: 60%;
   }
}

@media screen and (max-width: 600px){
    .container.testimonial-container{
        width: 75%;
    }

    .client-review{
        width: 75%;
    }
}
